<html>
<header>
    <h1>자기소개</h1>
    <body bgcolor="pink">
       <p>이름 : 황희연</p> 
       <p>나이 : 21</p>
       <p>대학교/전공: 숙명여자대학교/ 소프트웨어융합전공</p>
       <%= @lotto_numbers %>
<a href="home/lotto">로또로 이동</a><br>
<a href="home/animal">동물 뽑기</a>
    </body>
</header>
<footer>
    <p>2018.3.29</p>
</footer>
</html>